<template id="Diseno_Carta">
    <div class="Carta" role="button" tabindex="0" aria-pressed="false">
        <div class="Miniatura">
            <img class="Miniatura-poke" alt="" width="96" height="72"/>
            <div class="Icono-Tipo" sytle="display:none"></div>
        </div>
        <h3 clas="Carta-Nombre"></h3>
        <div class="Tipos"><div class="Tipo"></div></div>
        <div class="Estadistica">Atk: <span class="Ataque">0</span></span></div>
        <div class="Estadistica">Def: <span class="Defensa">0</span></span></div>
        <div class="Estadistica">HP: <span class="HP">0</span></span></div>
        <div class="BarraHp"><div clas="LlenoHp"></div></div>
        
    </div>
</template>